notebooks/smac3**/
autocluster/smac3**/
autocluster/examples/test_syntax.ipynb
.ipynb_checkpoints
**/*.ipynb_checkpoints/
__pycache__
*.csv
*.zip
*.txt
build
*.egg-info
dist
push_to_pip.sh
push_to_test_pip.sh
log/
.vscode/
