backcall
cycler
decorator
GPy
GPyOpt
graphviz
ipykernel
ipython
ipython-genutils
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
matplotlib
numpy
pandas
paramz
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scikit-optimize
scipy
simplegeneric
six
sklearn
tornado
traitlets
wcwidth
